#nav-links {
  background-color: #333;
  display: flex;
  margin-bottom: 5px;
}

#nav-links a, #nav-app-name {
  color: white;
  text-decoration: none;
  padding: 0.4em;
}

#nav-links .active-link {
  background-color: #ddd;
  color: black;
}

#nav-app-name {
  font-weight: bold;
  padding-left: 0.5em;
}
