.station {
    padding: 1px;
    width: 100px;
    height: 100px;
}

.station-name {
    font-size: small;
    font-weight: bold;
    position: relative;
}

.station-top-line {
    top: -5px; /* why is this needed? */
    font-size: small;
    display: flex;
    justify-content: space-between;
}

.station-student-first-name {
    font-size: large;
    font-weight: bold;
}

.station-student-last-name {
}

.station-student-first-name, .station-student-last-name {
    width: 100%;
    text-align: center;
}
